body {
    background-color: rgb(99, 7, 7);
    color: black;
    font-size: 50px;
    font-style: oblique;
}

h1{
    color: rgb(255, 255, 255);
}

p{
    color: rgb(255, 255, 255);
}

div{
    background-color: rgb(0, 0, 0);
    padding: 50px;
    border-style:dotted;
    border-width: 25px;
    margin: 150px;
    border-radius: 20px;
}

img {
  border-radius: 10px;
}

.fotos {

    background-color: blue;
    border-style:initial;
    margin: 0px;
    padding: 0px;
    display: flex;
}